:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-blue: #00008b;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-light-dark-blue: #1d97f6;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
}

body {
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
}

h1,
h2 {
    font-size: 3em;
    color: var(--color-dark-grey);
}

#title {
    color: var(--color-dark-blue);
}

li {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    outline-style: none;
    font-size: 1.3em;
}

input {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 0.2rem;
    background-color: transparent;
    color: var(--color-black);
    font-size: 20px;
}

#name_text {
    border-bottom-color: var(--color-pink);
}

#task_text {
    border-bottom-color: var(--color-orange);
}

span {
    font-size: 2em;
}

.task_mgt_area {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
}


/* Background img */

.js-bg-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}

ul {
    text-align: center;
    color: var(--color-dark-blue);
}

.task__container {
    display: flex;
    justify-content: center;
}

.pending__task {
    margin-top: 30px;
    margin-right: 50px;
}

.finished__task {
    margin-top: 30px;
    margin-left: 50px;
}

.name__input__section {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-yellow);
    opacity: 0.6;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.icon__person {
    margin-right: 30px;
}

.lock__container {
    pointer-events: none;
    opacity: 0.4;
}


/* lock__container로 switch하는 부분 추가하기 */

.unlock__container {
    pointer-events: visible;
    opacity: 1;
}

.lock__image {
    position: fixed;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 25%;
    right: 25%;
    bottom: 50%;
    cursor: pointer;
    z-index: 1;
}

.invisible {
    visibility: hidden;
}

.greeting__container {
    font-size: 2.3em;
    color: var(--color-dark-pink);
}